# Environment Variables
.env
.flaskenv

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Database
instance/
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Custom Ignore (User Request)
Images/
news_log.txt
*.log
deploy_guide.md
GCP_powershell.txt
repomix-output.md
.repomixignore